<div class="video-carousel py-md-5 py-3">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let items of videoArray">
                <ng-template carouselSlide>
                    <div class="video-items px-2">
                        <iframe width="100%" height="300" [src]="AppComponent.getVideoIframe(items.link)" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>

<div id="1" class="item new col-md-4" *ngFor="let item of datas">
    <a href="single-product.html">
        <div class="featured-item">
            <h4>{{item.title}}</h4>
        </div>
    </a>
</div>